#container-main{
  margin-top: 60px;
  margin-bottom: 55px;
}
#sidebar-players{
  position: fixed;
  right: 60px;
  width: 250px;
}
#sidebar-rooms{
  position: fixed;
  left: 60px;
}
.private{
	color: purple;
}
.spectator{
	color: blue;
	font-style: italic;
}
.msg-author{
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
}
.dead{
	background-color: #000;
	color: #FFF;
	font-style: italic;
}
.alive{
	background-color: #DFF0D8;
	font-weight: bold;
}
#rules-modal .modal-body {
	min-height: 600px;
}
#text-input{
	width: 500px;
}
.hidden{
	display: none;
}
.login-button{
	display: inline;
}
.login-advertise{
	font-weight: bold;
	margin-top: 5px;
}
.list-group-item{
	height: 30px;
	padding: 4px 0px 0px 10px;
}
.fb-login-button{
	margin-left: 5px;
}
.inline{
	display: inline;
}
.voted{
  position: relative;
  left: 7px;
  bottom: 3px;
}
.highlight{
	background-color: #FFFF00;
}
.twitter-follow-button{
	margin-top: 15px;
}
.player-item{
	 cursor: pointer;
}
#rankings-modal tr {
   cursor: pointer;
}
#room-chooser-button{
	position: relative;
	top: 8px;
}
.star{
	margin-right: 5px;
}
.pointer{
	cursor: pointer;
}

