#container-main{
  margin-top: 60px;
  margin-bottom: 55px;
}
.private{
	color: purple;
}
.spectator{
	color: blue;
	font-style: italic;
}
.msg-author{
	margin-right: 10px;
	font-weight: bold;
}
.dead{
	background-color: #000;
	color: #FFF;
	font-style: italic;
}
.alive{
	background-color: #DFF0D8;
	font-weight: bold;
}
#sidebar-players{
  position: fixed;
  right: 60px;
  width: 200px;
}
#rules-modal .modal-body {
	min-height: 600px;
}
#text-input{
	width: 500px;
}
.hidden{
	display: none;
}
.login-button{
	display: inline;
}
.rules-text{
	margin-top: 10px;
}
.login-advertise{
	font-weight: bold;
}
.list-group-item{
	height: 40px;
}
